body{
    /*background-color: #ccc;*/
    background-color: #ccb;
    background:url("../img/bolapokemond.bmp");
    background-position: left;
}
@font-face {
font-family: Pokemon Hollow;
src: url(\pokemon.json-master\Pokemon Hollow.ttf);
}
h1 {
    /*color: white; modificado por luciano*/
    color:#ffcc03;
    text-align: center;
    /*agregado por luciano*/
    font-family: Pokemon Hollow;
    border-bottom: 1.2px solid; padding-bottom: .6em;
    font-size: 355%;
    text-shadow: 1px 1px white, -2px -2px #0004FF;
   padding: 10px;
}

h4 {
  font-family: Pokemon Hollow;
    /*padding: 1em; modificado por luciano*/
    padding: 0.75em;

    /*color: #ccc; modificado por luciano*/
    color: #ffcc03;
    text-shadow: 1px 1px 4px #000000;

    text-align: center;

    background-color: #EF5350;
    /*agregado por luciano*/
    font-size: 155%;
}

header {
    padding: 20px;

    margin-bottom: 20px;

    background-color: #EF5350;
    
}

.form-container{
    /*background-color: white; modificado por Luciano*/
    background-color: #ccb;
    padding-bottom: 10px;
}

.btn-buscar {
    width: 100%;
}

.btn-primary {
    background-color: #3B4CCA;
}

.poke-container {
    padding: 25px;
    /*background-color: white; modificado por Luciano*/
    /*agregado por Luciano*/
    background-color: #ccb;
    opacity: 0.99;
}

a.pokemon {
    display: block;

    margin-bottom: 20px;
}

a.pokemon:hover, a.pokemon:visited, a.pokemon:active {
    text-decoration: none;
}

a.pokemon img {
    display: block;

    margin: 15px auto;
}

a.pokemon div.contenedor {
    border: 1px solid #ccc;
    border-radius: 8px;
}

a.pokemon:hover div.contenedor{
    background-color: #9EDEF9;
}

a.pokemon div.name {
    margin-bottom: 5px;
    padding: 8px;
    color: white;
    text-align: center;
    text-decoration: none !important;
    background-color: #EF5350;
}

a.pokemon:hover div.name{
    font-weight: bold;
    text-transform: uppercase;
}


a.pokemon ul.type {
    display: block;

    margin: 0px;
    padding: 0px;
}

a.pokemon ul.type li{
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;

    color: white;
    font-weight: bold;
    text-decoration: none;
    background-color: gray;

    border-radius: 8px;
}

a.pokemon:active ul.type li, a.pokemon:visted ul.type li, a.pokemon ul.type li:hover{
    color: white;
    text-decoration: none;
}

a.pokemon ul.type li.Grass{
    background-color: green;
}

a.pokemon ul.type li.Poison{
    background-color: purple;
}

a.pokemon ul.type li.Fire{
    background-color: orange;
}

a.pokemon ul.type li.Flying{
    background-color: skyblue;
}

a.pokemon ul.type li.Bug{
    background-color: sienna;
}

a.pokemon ul.type li.Water{
    background-color: teal;
}

a.pokemon ul.type li.Electric{
    background-color: yellow;
}

a.pokemon ul.type li.Ground{
    background-color: saddlebrown;
}

a.pokemon ul.type li.Fairy{
    background-color: salmon;
}

a.pokemon ul.type li.Psychic{
    background-color: magenta;
}

a.pokemon ul.stats li{
    color: #333;
    text-decoration: none;
}
/**footer**/
footer nav{
    width: auto;
    padding-top: 40px;
    margin-top: 30px;
  
}

.footerNosotros .nosotros{
  background-color: #6B33FF;
  width: 100%;
  color: white;
  text-transform: capitalize;
  margin: center;
 
 
}
.arrriba {
    width: 3px;
    height: 5px;
   }

.integrantes{
    padding: 2px 10px;
    text-align: center;
    color: white;
    margin: center;
    text-transform: capitalize;
}/**fin footer dos**/




/** estilos boton ir arriba*/
.arriba{
    margin-left:20px;
    margin-top: -80px;
    width:80px;
}

/** footer uno tipo banner
.footer{
    padding: 1px;
    margin-bottom: 20px;
    background-color: #EF535050;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-transform: capitalize; 
   text-align: center;
}fin footer**/
.blink {
    animation: blinker 2s linear infinite;
    text-align: center;
   color: #000000;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
