body{
    /*background-color: #ccc;*/
    background-color: #ccb;
    background:url("../img/bolapokemond.bmp");
    background-position: left;
}
@font-face {
font-family: Pokemon Hollow;
src: url(\pokemon.json-master\Pokemon Hollow.ttf);
}
h1 {
    /*color: white; modificado por luciano*/
    color:#ffcc03;
    text-align: center;
    /*agregado por luciano*/
    font-family: Pokemon Hollow;
    border-bottom: 1.2px solid; padding-bottom: .6em;
    font-size: 355%;
    text-shadow: 1px 1px white, -2px -2px #0004FF;
   padding: 10px;
}

h4 {
  font-family: Pokemon Hollow;
    /*padding: 1em; modificado por luciano*/
    padding: 0.75em;

    /*color: #ccc; modificado por luciano*/
    color: #ffcc03;
    text-shadow: 1px 1px 4px #000000;

    text-align: center;

    background-color: #EF5350;
    /*agregado por luciano*/
    font-size: 155%;
}

header {
    padding: 20px;

    margin-bottom: 20px;

    background-color: #EF5350;
    
}

.form-container{
    /*background-color: white; modificado por Luciano*/
    background-color: #ccb;
    padding-bottom: 10px;
}

.btn-volver {
    width: 20%; 
    margin-left: 2%;
    background-color: #3B4CCA;

}

.btn-buscar {
    width: 100%;
}

.btn-primary {
    background-color: #3B4CCA;
}

.poke-container {
    padding: 25px;
    /*background-color: white; modificado por Luciano*/
    /*agregado por Luciano*/
    background-color: #ccb;
    opacity: 0.99;
}


a.pokemon {
    margin-bottom: 20px;
}

a.pokemon:hover, a.pokemon:visited, a.pokemon:active {
    text-decoration: none;
}

.imagen {
    width: auto;
    margin-left: 20px;
    height: 300px;
    margin-top: 20px;
}


a.pokemon div.contenedor {
    border: 1px solid #ccc;
    border-radius: 8px;
}

a.pokemon:hover div.contenedor{
    background-color: gold;
}


a.pokemon div.name {
    margin-bottom: 5px;
    margin-left: 75px;
    padding: 8px;
    margin-top: 5px;
    color: white;
    text-align: center;
    text-decoration: none !important;
    background-color: #EF5350;
    width: 10em;
    

}

a.pokemon:hover div.name{
    font-weight: bold;
    text-transform: uppercase;

}


a.pokemon ul.type {
    display: block;
    margin-left: 70px;
  
    padding: 0px;
}

a.pokemon ul.type li{
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;

    color: white;
    font-weight: bold;
    text-decoration: none;
    background-color: gray;

    border-radius: 8px;
}

a.pokemon:active ul.type li, a.pokemon:visted ul.type li, a.pokemon ul.type li:hover{
    color: white;
    text-decoration: none;
}

a.pokemon ul.type li.Grass{
    background-color: green;
}

a.pokemon ul.type li.Poison{
    background-color: purple;
}

a.pokemon ul.type li.Fire{
    background-color: rgb(255, 81, 0);
}

a.pokemon ul.type li.Flying{
    background-color: skyblue;
}

a.pokemon ul.type li.Bug{
    background-color: sienna;
}

a.pokemon ul.type li.Water{
    background-color: teal;
}

a.pokemon ul.type li.Electric{
    background-color: rgb(199, 231, 13);
}

a.pokemon ul.type li.Ground{
    background-color: saddlebrown;
}

a.pokemon ul.type li.Fairy{
    background-color: salmon;
}

a.pokemon ul.type li.Psychic{
    background-color: magenta;
}

a.pokemon ul.stats li{
    color: #333;
    text-decoration: none;
}

.contenedor {
    background-color: #ffd700;
    width: 100%;
    padding-bottom: 50px;
    
}

.sprite {
    margin-left: 170px;
    margin-top: -180px; 
}


.stats {
    margin-top: -400px;       
    text-align: center;
    text-justify: auto;
    text-transform: uppercase;
    list-style: none;
    font-weight: bold;
    line-height: 50px;
    background-color: orange;
    width: 40%;
    margin-left: 450px;
    border-width: 7px;
    border-style: double;
    border-color:black;
    padding-right: 40px;
    padding-bottom: 20px;
      
}
.stats:hover {
    background-color: #3B4CCA80;
}

.stats li {
    border-bottom-style: solid;
}

.btn-volver {
    border-style: none;
    width: 20%;
    margin-left: 2%;
    background-color: #6B33FF;
    color:#fff;
    border-radius: 40px;
}